@import "./assets/mobileDesign.scss";

@include xs{
.calculatorMainContainer{
    overflow:scroll;
.calculatorContainer{
        width: 70%;
        min-width:320px;
    }
}
}

@include md{
    .calculatorMainContainer{
        .calculatorContainer{
            width: 30%;
        }
    }
}